# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Environments
env/
venv/
.env
*.env
*.env.*

# Node.js dependencies (if using frontend tools like npm or yarn)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database files
*.sqlite3

# Media and uploaded files
media/
uploads/

# Static files
staticfiles/
static/

# Logs
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Other files
*.bak
*.tmp
